@font-face {
    font-family: "1_un_bindumathi";
    src: url(../download_fonts/unicode/un-bindumathi.ttf);
}
.font_class_1_un_bindumathi {
    font-family: "1_un_bindumathi", Ubuntu-R, sans-serif !important;
}
@font-face {
    font-family: "2_un_emanee";
    src: url("../fonts/1/un-emanee-no-eng.woff") format("woff");
    src: url("../fonts/1/un-emanee-no-eng.eot") format("eot");
}
.font_class_2_un_emanee {
    font-family: "2_un_emanee", Ubuntu-R, sans-serif !important;
}
@font-face {
    font-family: "3_un_malithi";
    src: url("../fonts/1/FM-Malithi.woff") format("woff");
    src: url("../fonts/1/FM-Malithi.eot") format("eot");
}
.font_class_3_un_malithi {
    font-family: "3_un_malithi", Ubuntu-R, sans-serif !important;
}
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&amp;display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&amp;display=swap");
@font-face {
    font-family: ganganee;
    src: url("../fonts/1/un-ganganee.woff") format("woff");
    src: url("../fonts/1/un-ganganee.eot") format("eot");
}
@font-face {
    font-family: emanee;
    src: url("../fonts/1/un-emanee-no-eng.woff") format("woff");
    src: url("../fonts/1/un-emanee-no-eng.eot") format("eot");
}
@font-face {
    font-family: bindumathi;
    src: url("../fonts/1/bindu-sinhala-only.woff") format("woff");
    src: url("../fonts/1/bindu-sinhala-only.eot") format("eot");
}
@font-face {
    font-family: Ubuntu-R;
    src: url("../fonts/1/Ubuntu-Regular.woff") format("woff");
    src: url("../fonts/1/Ubuntu-Regular.eot") format("eot");
}
@font-face {
    font-family: malithi;
    src: url("../download_fonts/legacy/FM_MALIT.TTF");
}
@font-face {
    font-family: UN-Abhaya;
    src: url("../fonts/1/un-abhaya.woff") format("woff");
    src: url("../fonts/1/un-abhaya.eot") format("eot");
}
html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(#141e30, #243b55);
}
.row-d {
    position: absolute;
    left: 50%;
    top: 400px;
    width: 100%;
    padding: 50px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}
.des-typing-wrapper .des-typing-header .des-typing-inner {
    position: absolute;
    bottom: -115px;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.des-typing-body {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: 0;
    background: 0 0;
}
.des-typing-dropdown {
    all: unset;
    background-color: #0e8388;
    color: #fff;
    width: 150px;
    padding: 10px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}
.nav-item {
    color: #000;
}
#nav-unicode-tab {
    background-color: #0e8388;
}
#nav-legacy-tab {
    background-color: #2e4f4f;
}
.nav-link.active {
    background-color: #243b55;
}
#unicode {
    width: 50%;
}
#results {
    width: 100%;
}
#results_legacy {
    width: 50%;
}
#hint {
    color: #c5e21e;
    font-size: 16px;
}
@media screen and (max-width: 900px) {
    #unicode {
        width: 100%;
    }
    #results {
        width: 100%;
    }
    #results_legacy {
        width: 100%;
    }
}
h1 {
    color: #b4da0c !important;
    top: 250px !important;
    text-align: center;
}
:root {
    --color-1: #ff7810;
    --color-2: #f5f7fa;
    --color-3: #636363;
    --color-4: #0164bd;
}
body {
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    background-color: var(--color-4);
    font-family: bindumathi, Ubuntu-R, sans-serif;
    font-size: 12px;
    color: var(--color-3);
}
img {
    width: 100%;
    height: auto;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: emanee, "Ubuntu", sans-serif;
}
a {
    color: var(--color-3);
}
a:hover {
    color: var(--color-3);
    text-decoration: none;
}
.color-1 {
    color: var(--color-1);
}
.color-2 {
    color: var(--color-2);
}
.color-3 {
    color: var(--color-3);
}
.color-4 {
    color: var(--color-4);
}
.bg-ash {
    background-color: var(--color-2);
}
.rounded {
    border-radius: 20px !important;
}
.rounded-lg-35 {
    border-radius: 35px !important;
}
.rounded-lg-30 {
    border-radius: 30px !important;
}
.rounded-lg-15 {
    border-radius: 10px !important;
}
.rounded-lg-10 {
    border-radius: 10px !important;
}
.border-width-2 {
    border-width: 2px !important;
}
.shadow-lg {
    box-shadow: 1px 4px 30px rgba(0, 0, 0, 0.04) !important;
}
.btn-primary {
    background-color: var(--base-color);
}
.btn {
    border: none;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 10px !important;
}
.btn:focus {
    box-shadow: none;
}
.btn-group > .btn {
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}
.btn-outline-primary {
    border: 1px solid var(--base-color);
}
textarea {
    resize: none;
    border: none !important;
}
textarea:focus {
    box-shadow: none !important;
}
.dropdown-menu {
    box-shadow: 1px 4px 30px rgba(0, 0, 0, 0.04) !important;
    border: none;
}
.dropdown-menu a {
    font-size: 12px;
}
.welcome-notice-inner {
    margin-top: -80px;
    position: relative;
    z-index: 1;
    margin: 0 10px;
    margin-top: -40px;
}
.news-thum-deatils p {
    line-height: 1.2em;
    max-height: 2.5em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    min-height: 2em !important;
    font-size: 14px !important;
}
.des-typing-type-icon i {
    border-radius: 10px;
    width: 30px;
    background-color: var(--base-color);
    color: #fff;
    height: 30px;
    text-align: center;
    line-height: 30px;
}
.des-typing-body .nav-tabs .nav-link {
    border-radius: 10px 10px 0px 0px !important;
    padding: 15px;
}
.des-typing-dropdown {
    padding: 0 15px;
}
.voice-typing-icon i {
    text-align: center;
    width: 51px;
    height: 51px;
    background: #c9c9c9;
    border-radius: 32px;
    line-height: 49px;
    font-size: 24px;
    color: #fff;
}
.voice-typing-icon-active i {
    text-align: center;
    width: 49px;
    height: 49px;
    border-radius: 32px;
    line-height: 49px;
    font-size: 24px;
    color: #fff;
}
.des-typing-body-inner .tab-content {
    border: 2px solid var(--base-color) !important;
}
.des-typing-body-inner .nav-tabs {
    border-color: var(--base-color);
    border: none !important;
}
.payment_processing_timer {
    width: 400px !important;
}
.payment_processing_timer .title-class {
    font-size: 16px !important;
}
.payment_processing_timer .content-class {
    font-size: 14px !important;
}
.des-typing-body-inner {
    border-radius: 15px;
}
.des-typing-body .nav-tabs .nav-link.active {
    background: var(--base-color);
    color: #fff;
    border: 2px solid var(--base-color) !important;
    border-bottom: none !important;
}
.des-typing-body-inner .form-control {
    font-size: 20px;
    padding: 25px;
}
.des-typing-inner {
    margin-top: -45px;
}
a.font-download-btn i {
    color: var(--base-color);
    font-size: 24px;
    text-align: center;
    line-height: 40px;
    border-radius: 10px;
}
.margin-top-remove .des-typing-inner {
    margin-top: 0 !important;
}
#results_legacy {
    font-family: malithi;
}
.folder-icon,
.satahan-quic-btns img {
    width: 14px;
}
.satahan-quic-btns .btn {
    padding: 5px 10px;
    border-radius: 5px !important;
}
.logo {
    width: 75px;
    border-radius: 50px;
    margin: 0 auto;
    transition: all ease 0.5s;
}
.single-side-nav-item {
    position: relative;
    color: #ffffff;
}
.single-side-nav-item.active {
    background: #f5f7fa;
    color: #636363;
}
.single-side-nav-item-title h6 {
    margin: 0;
    font-size: 20px;
}
.single-side-nav-item img {
    width: 50px;
    margin-right: 8px;
}
.single-side-nav-item {
    font-size: 16px;
    padding: 5px 15px 5px 8px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    position: relative;
    margin-bottom: 8px;
}
.single-side-nav-item a {
    display: flex;
    align-items: center;
}
.single-side-nav-item.active:after {
    content: "";
    width: 30px;
    height: 30px;
    margin-top: -30px;
    transform: rotate(90deg) scale(1.04);
    background-size: 100%;
    background-image: url(../images/down-curv.svg);
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 0;
    z-index: 9;
}
.single-side-nav-item.active:hover {
    background: #f5f7fa;
}
.single-side-nav-item.active:before {
    content: "";
    width: 30px;
    height: 30px;
    margin-top: 60px;
    transform: rotate(360deg) scale(1.04);
    background-size: 100%;
    background-image: url(../images/down-curv.svg);
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 0;
    z-index: 9;
}
.single-side-nav-item-title {
    font-size: 18px;
    position: relative;
    color: #ffffff;
    margin-right: 30px;
    opacity: 1;
    visibility: visible;
    transition: all ease 0.5s;
    min-width: 115px;
}
.single-side-nav-item-title sup {
    position: absolute;
    font-size: 8px;
    right: -5px;
}
.single-side-nav-item:hover {
    background: rgba(0, 0, 0, 0.09019607843137255);
}
.aruth-swith-icon {
    width: 30px;
}
.aruth-results {
    overflow: hidden;
    max-height: 280px;
    overflow-y: scroll;
}
.single-side-nav-item-title_active a div {
    color: #000000 !important;
}
.nav-toggler-icon {
    width: 40px;
    background: #e0e0e0;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.side_bar_collaps .single-side-nav-item-title {
    width: 0;
    opacity: 0;
    visibility: hidden;
    margin: 0;
    overflow: hidden;
    min-width: 0;
}
.side_bar_collaps .logo {
    width: 60px;
    padding: 10px;
}
.news-comments-container {
    margin-top: 100px;
}
.swal2-popup {
    margin-top: 20px;
}
.welcome_title {
    font-size: 0.8rem;
}
.converter_buttons a {
    font-family: Ubuntu-R, sans-serif;
    font-weight: bold;
}
.welcome_image img {
    width: 100px;
    position: absolute;
    top: -124px;
    right: 16px;
    z-index: -2;
}
.news_time {
    font-size: 8px !important;
    color: #d6d6d6;
    text-align: right;
    font-family: bindumathi, Ubuntu-R, sans-serif;
}
.comment_time {
    font-size: 8px !important;
    color: #d6d6d6 !important;
    text-align: left;
    padding: 0;
    margin: 0;
    font-family: bindumathi, Ubuntu-R, sans-serif !important;
}
.gradient_animation {
    height: 5px !important;
    margin-bottom: 5px !important;
    border-radius: 16px !important;
    background: linear-gradient(270deg, #fe3d3d, #ff9e55, #97df42, #ffff31);
    background-size: 800% 800%;
    -webkit-animation: progress_b 10s ease infinite;
    -moz-animation: progress_b 10s ease infinite;
    animation: progress_b 10s ease infinite;
}
@-webkit-keyframes progress_b {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@-moz-keyframes progress_b {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes progress_b {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.share_icons {
    width: 32px;
    margin-right: 8px;
    cursor: pointer;
}
.modal-notification.modal {
    background: #2164bda3;
}
.modal-notification .modal-content {
    background: no-repeat;
    box-shadow: none;
    border: none;
}
.header-bar {
    padding-bottom: 15px !important;
}
.modal-notification.modal h5 {
    color: #ffce2f;
    font-size: 35px;
    font-weight: 200;
}
.modal-header {
    text-align: center;
    justify-content: center;
    align-items: center;
    border: none;
    padding-bottom: 0;
    padding-top: 30px;
}
.modal-header .close {
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    opacity: 1;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    padding: 0;
    border-radius: 10px;
}
.modal-body p {
    color: #fff;
    font-size: 16px;
    margin-bottom: 15px !important;
}
.modal-body button.btn.btn-secondary {
    background: #e58e13;
    font-size: 16px;
    font-family: "Ubuntu", sans-serif;
    margin-top: 10px;
    box-shadow: 0 8px 15px #00000033;
}
.notification-bell {
    width: 90px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 50px;
}
.notification-bell img,
.notification-icon-btn img {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
.notification-icon-btn {
    cursor: pointer;
    height: 60px;
    background: #fff;
    border-radius: 15px;
}
.user-avatar {
    cursor: pointer;
    height: 60px;
    background: #fff;
    border-radius: 15px;
}
.header-bar-user-details-name {
    text-align: end;
}
.logout_user {
    cursor: pointer;
}
@keyframes shake {
    0% {
        transform: rotate(0);
    }
    15% {
        transform: rotate(5deg);
    }
    30% {
        transform: rotate(-5deg);
    }
    45% {
        transform: rotate(4deg);
    }
    60% {
        transform: rotate(-4deg);
    }
    75% {
        transform: rotate(2deg);
    }
    85% {
        transform: rotate(-2deg);
    }
    92% {
        transform: rotate(1deg);
    }
    100% {
        transform: rotate(0);
    }
}
.mobile-apps-wapper {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}
.download-app-icon {
    width: 45px;
    margin: 0 30px;
    text-align: center;
    cursor: pointer;
}
.download-app-icon p {
    margin-top: 7px;
}
.form-control {
    border-radius: 10px;
}
.form-control:focus {
    border-color: #0264bd;
    box-shadow: none;
}
.side-nav-inner {
    position: relative;
    height: 100%;
}
.powered-by-wrapper {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    right: 0;
}
a .side-nav {
    height: 100%;
}
.powered {
    padding: 10px;
    border-radius: 10px;
    margin-right: 19px;
}
.powered img {
    width: 80px;
}
.powered p {
    font-size: 10px;
    color: #ffffff;
}
.side-nav {
    height: 100%;
}
.side_bar_collaps .powered-by-wrapper {
    display: none;
}
textarea {
    resize: both;
}
textarea.vert {
    resize: vertical;
}
textarea.noResize {
    resize: none;
}
.slide-out-left {
    -webkit-animation: scale-out-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    animation: scale-out-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
.converter_warning .swal2-popup {
    width: 800px;
    border: 1px solid;
    border-color: var(--base-color) !important;
    font-family: Ubuntu-R;
}
.converter_warning .swal2-title {
    font-size: 16px;
    font-family: Ubuntu-R;
}
@keyframes slide-out-left {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-1000px);
        opacity: 0;
    }
}
.scale-out-center {
    -webkit-animation: scale-out-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    animation: scale-out-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
@-webkit-keyframes scale-out-center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
}
@keyframes scale-out-center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
}
.download-close {
    position: absolute;
    right: 4%;
    font-size: 18px;
}
.download-type-logo {
    width: 70px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.maximize_button {
    width: 30px;
    background: #e0e0e0 !important;
    position: absolute;
    right: 45px;
    top: 180px;
    padding: 6px;
    border-radius: 8px;
}
.notices_category_title {
    color: var(--color-3);
}
.title_holder_notices {
    margin-bottom: 5px;
}
.comment-content {
    background-color: #f4f5f8;
    padding: 15px;
    border-radius: 10px;
    word-wrap: break-word;
    max-width: 690px;
}
.page-content {
    height: 96vh;
}
.calendar_legends {
    display: flex;
    justify-content: center;
    gap: 5px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin-top: 10px;
}
.calendar_legends .items {
    display: flex;
    justify-content: center;
    align-items: center;
}
#holiday_container {
    height: 300px;
    overflow: auto;
    margin-top: 30px;
}
.single-dict-wrapper {
    max-height: 75vh;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #ffffff;
    border-radius: 15px;
}
.dict-thum-item > div:last-child {
    border: none !important;
}
hr {
    margin-bottom: 0rem !important;
}
.dict-sidebar-words {
    padding-top: 20px !important;
    margin-right: 10px;
    margin-left: 10px;
}
.dict-sidebar-words .text {
    font-family: "emanee";
    padding-left: 14px;
    font-weight: 400;
    color: #636363;
    line-height: 12.42px;
}
.word-container {
    cursor: pointer;
}
.word-container:nth-of-type(odd) {
    background-color: white;
}
.word-container:nth-of-type(even) {
    background-color: #f7f7f7;
}
.dict-details {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 50px;
    color: black;
}
.dict-details-word {
    font-size: 15px;
    line-height: 17.24px;
    font-weight: 400;
    color: #636363;
    margin-bottom: 4px !important;
}
.dict-details-meanings {
    font-family: "bindumathi";
    font-size: 14px;
    line-height: normal;
    font-weight: 400;
    margin-left: 12px;
    color: rgb(99, 99, 99);
}
.single-dict-exp-wrapper {
    padding: 30px;
    background-color: #ffffff;
    border-radius: 15px;
}
.dict-form {
    width: 85%;
    margin-top: 20px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.dict-form .form-control {
    border-radius: 5px !important;
}
#dict-input-container {
    position: relative;
}
.sinhala-placeholder::placeholder {
    font-family: "UN-Abhaya";
    font-size: 18px;
    line-height: 18.63px;
    font-weight: 400;
}
.search_icon {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 20px;
    opacity: 0.6;
}
.clear_icon {
    display: none;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    opacity: 0.6;
    font-weight: 100;
}
.clear_icon:hover {
    color: black;
    opacity: 1;
    cursor: pointer;
}
#dict-input-container > input {
    padding-left: 40px;
}
.dict-explain-body {
    margin-top: 50px;
    margin-left: 60px;
}
.dict-explain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.dict-explain p {
    color: black;
    font-size: 20px;
    display: contents;
}
.no-result {
    margin-left: 28px;
    font-size: 16px;
    line-height: 20.68px;
    font-weight: 400;
}
.dict-explain .searchWord {
    margin-right: 20px;
    font-size: 18px;
    line-height: 20.68px;
    font-weight: 400;
}
.dict-explain .share_speaker_icon {
    margin-right: -10px;
    opacity: 0.7;
    font-size: 20px;
    margin-left: 20px;
    cursor: pointer;
}
.dict-explain .share_speaker_icon:hover {
    color: black;
    opacity: 1;
    cursor: pointer;
}
.dict-meaning-list {
    font-family: "bindumathi";
    font-size: 16px;
    font-weight: 400;
    color: #636363;
    margin-top: 30px;
    line-height: 32px;
}
.comment-container {
    border-top-style: outset;
    border-top-width: thin;
    padding-top: 35px;
    padding-left: 10px;
    padding-right: 10px;
    border-color: #e5e5e5;
    margin-top: 25px;
}
.comment-user-avatar {
    width: 38px;
    border-radius: 50%;
}
.comment-input::placeholder {
    font-family: "bindumathi";
}
input.comment-input,
textarea {
    border-top-style: hidden;
    border-bottom-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    background: #f5f7fa;
}
input.comment-input:focus {
    background-color: #f5f7fa;
}
.comment-form-submit {
    position: absolute;
    top: 5px;
    right: 35px;
    font-size: 17px;
    padding-left: 10px;
    color: #d9d9d9;
    border-left: solid;
}
.comment-form-submit i {
    margin-top: 5px;
    color: #dc4b24;
    cursor: pointer;
}
.comment_submit_button {
    visibility: hidden;
}
.float {
    position: absolute;
    width: 55px;
    height: 55px;
    bottom: 10px;
    right: 10px;
    background-color: #cc1001;
    color: #fff;
    border-radius: 50px;
    text-align: center;
}
.float:hover {
    color: white;
}
.my-float {
    cursor: pointer;
    font-size: 25px;
    margin-top: 15px;
}
.my-float:hover {
    color: white;
}
.comment-box-close {
    cursor: pointer;
    float: right;
    margin-top: -10px;
    margin-right: -5px;
}
.height-view-point {
    max-height: 100vh;
}
.comment-like-button {
    display: flex;
    align-items: flex-end;
}
.d-flex-max-width {
    max-width: 90vh !important;
}
.d-flex-max-width-comment-reply {
    max-width: 85vh !important;
}
.reply-link {
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    margin-left: 50px;
    margin-bottom: -7px;
}
.reply-link-notice {
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    margin-bottom: -7px;
}
.reply-to-container {
    display: none;
    background-color: #e3e3e359;
    margin-bottom: -31px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 5px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 15px;
}
.reply-to-text {
    margin-left: 5px;
    font-family: "Ubuntu-R";
    font-style: italic;
    font-weight: 500;
}
.reply-to-close-button {
    float: right;
    cursor: pointer;
}
.comment-reply-container {
    margin-left: 50px;
}
#context-menu {
    position: fixed;
    z-index: 10000;
    width: 150px;
    background: #1b1a1a;
    border-radius: 5px;
    transform: scale(0);
    transform-origin: top left;
}
#context-menu.visible {
    transform: scale(1);
    transition: transform 200ms ease-in-out;
}
#context-menu .item {
    padding: 8px 10px;
    font-size: 15px;
    color: #eee;
    cursor: pointer;
    border-radius: inherit;
}
#context-menu .item:hover {
    background: #343434;
}
.swal2-backdrop-show {
    background-color: transparent !important;
}
.mobile_download .error {
    color: red;
}
.pc-download-form .error {
    color: red;
}
