html { 
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(#141e30, #243b55);
}
.row-d {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%; 
    padding: 50px; 
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

.col-lg-8 .des-typing-body {
    position: absolute;
    bottom: -95px;
    margin-right: 200px;
    
}

.des-typing-wrapper .des-typing-header .des-typing-inner {
    position: absolute;
    bottom: -115px;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem
}

.des-typing-body {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.des-typing-wrapper .des-typing-header .box-title {
    color: #efcb70;
    top: 31px !important;

}

.des-typing-dropdown {
  all: unset;
  background-color: dodgerblue;
  color: white;
  width: 150px;
  padding: 10px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.nav-item {
    color: rgb(255, 11, 11);
}
#nav-unicode-tab {
    background-color: #4ae905;
}
#nav-legacy-tab {
    background-color: #50504d;
}
.nav-link.active {
    background-color: #243b55;
}

#unicode {
    width: 50%;
}

#results{
    width: 100%;
}
#results_legacy {
    width: 50%;
}

#hint {
    color: #c5e21e;
    font-size: 16px;
}

@media screen and (max-width: 900px) {
    #unicode {
        width: 100%;
    }
    
    #results{
        width: 100%;
    }
    #results_legacy {
        width: 100%;
    }
}